/*.wrapper{*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    !*width: 6em}*!}*/

.table {
    margin: auto;
    width: 600px;
    border-collapse: collapse;
    border: 3px solid grey;
    text-align: center;
}
th, td {
    border: 1px solid grey;
    width: 20%;
}
td:first-child {
    width: 30%;
}
.buttonWrapper{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
