.card {
    display: flex;
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
}

.checkbox {
    justify-content: flex-start;
    flex-shrink: 0;
}

.name {
    flex-grow: 5;
}

.button {

    border-radius: 50%;
    color: white;
    background: red;
    outline: none;
    border: none;
}

.done {
    text-decoration: line-through;
}
